body {
 margin: 0;
 padding: 0;
 background: repeat-y;
 background: #fbff96;
 font-family:  'Montserrat Regular', 'Helvetica Regular';
 font-weight: 700;
 overflow-x:hidden;
 background-repeat: no-repeat;
}

.head-text{
	text-align: center;
}

.plantsimg{
	width: 20rem;
	margin: 1rem;
}


center img {
content:url('https://electroneuterix.github.io/EasyControl/CSS/assets/Electro.png');
display: block;	
margin-top: -1rem;
}

.onelectro{
content:url('https://electroneuterix.github.io/EasyControl/CSS/assets/Electro.gif');
}

.on{
content:url('https://electroneuterix.github.io/EasyControl/CSS/assets/Plant.gif');
}


.drywet:before{
	font-size: 1.5rem;
	margin-top: -1rem;
	content:""
}

.wet:before{
	content:"WET";
}

.dry:before{
	content:"DRY";
}



@media screen and (max-width:540px){
	p{
	right: .4rem;
	}
	h1{
		font-size:.7rem;
		text-align: center;
		position: relative;
		left: .4rem;
	}
	
	#test{
		width: 16rem;
		position: relative;
		left: 0.5rem;
	}
	
	.plantsimg{
		width: 8rem;
		margin: 0.5rem;
		position: relative;
	}
	
	.row1{
		margin-bottom: -1.5rem;
	}
	
	html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}
	
}
